body {
    text-align: center;
    background: url(gambar.jpg);
    background-size: cover;
}

.dashboard {
    background: url(gambar3.jpg);
}

.navigation {
    width: 1000px;
    height: 50px;
    background-color: #1D3C6A;
    margin: auto;
    margin-bottom: 20px;
}

.innerNavigation {
    font-family: "sans-serif";
    padding-top: 14px;
    padding-left: 50px;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
}

.btnMenu {
    float: right;
    margin-right: 20px;
    background-color: #778897;
    width: 150px;
    font-size: 20px;
    color: #fff;
    border: 1px solid #1D3C6A;
    border-radius: 50px;
}

.description {
    font-family: "sans-serif";
    width: 1000px;
    margin: auto;
    margin-bottom: 20px;
    font-size: 20px;
    color: #000000;
}

.buttons-center {
    text-align: center;
    line-height: 450px;
    margin: auto;
}

.grid {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px 50px 50px 50px;
    border-radius: 50px;
    border: 2px solid #cbcbcb;
    box-shadow: 10px 15px 5px #cbcbcb;
}

.grid h1 {
    font-family: "sans-serif";
    background-color: #57636e;
    font-size: 60px;
    text-align: center;
    color: #ffffff;
    padding: 2px 0px;
    border-radius: 50px;
}

#score {
    color: #5A6772;
    text-align: center;
    font-size: 30px;
}

.grid #question {
    font-family: "monospace";
    font-size: 30px;
    color: #5A6772;
}

.buttons {
    margin-top: 30px;
}

#btn0, #btn1, #btn2, #btn3 {
    background-color: #778897;
    width: 250px;
    font-size: 20px;
    color: #fff;
    border: 1px solid #1D3C6A;
    border-radius: 50px;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    cursor: pointer;
    background-color: #57636e;
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
    outline: 0;
}

#progress {
    color: #2b2b2b;
    font-size: 18px;
}